<IfModule mod_rewrite.c>

RewriteEngine On

RewriteCond %{REQUEST_URI} ^\/$ [NC]
RewriteRule ^ public/index.php [L]

RewriteRule ^(.*)$ public/$1 [NC]

RewriteCond %{HTTP_USER_AGENT} WhatsApp|telegram|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest|slackbot|vkShare [NC,OR]
RewriteCond %{REQUEST_URI} ^\/post\/ [NC]
RewriteRule ^(.*)$ /bots%{REQUEST_URI} [L,NC,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^\/admin|\/share|\/api|\/bots
RewriteRule ^(.*)$ app.html [L,NC]

</IfModule>
