// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Roboto', 'Rubik' sans-serif;


//$font-size-base: 0.9rem;
//$line-height-base: 1.6;

// Colors
$red: #EB5757;
$dark: #4F4F4F;
$yellow: #F2C94C;
$blue: #27A9F6;
$gray: #BDBDBD;

$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$orange: #f6993f;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
