*, *:before, *:after{
    box-sizing: border-box;
}

@import 'menu.scss';

#header_main {
    a{
        text-decoration: none;
    }
    .top-row{
        background: transparent;
        border-bottom: 1px solid #E0E0E0;
    }
    .top-row-inner-mob{
        display: none;
    }
    .top-row-inner{
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        margin:0 auto;
        padding: 0 24px;
        max-width: 1440px;
        .logo-wrap{
            margin-left: 70px;
            width: 127px;
            height: auto;
            img{
                width: 100%;
                height: auto;
            }
        }
        .menu-col-wrap,
        .auth-btns{
            width: calc(50% - 90px);
        }
        .menu-col-wrap{
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
        }
        .socials-wrap{
            width: 180px;
            a{
                width: 35px;
                height: 35px;
            }
        }
    }
    .top-row-inner,
    .top-row-inner-mob{

        .auth-btns{
            display: flex;
        }
        .btn-common{
            height: 35px;
            padding: 0 28px;
            &:first-child{
                margin-right: auto;
                margin-left: 10px;
            }
        }
        .socials-wrap{

            display: flex;
            text-align: center;

            a{
                margin-right: 5px;
                margin-left: 5px;
                text-decoration: none;
                &.youtube{
                    background: url('/img/icons/social-youtube-colored.svg') no-repeat center;
                    background-size: cover;
                }
                &.facebook{
                    background: url('/img/icons/social-facebook-colored.svg') no-repeat center;
                    background-size: cover;
                }
                &.instagram{
                    background: url('/img/icons/social-instagram-colored.svg') no-repeat center;
                    background-size: cover;
                }
            }

        }
        .menu-list{
            list-style-type: none;
            display: flex;
            font-weight: 500;
            align-items: center;
            margin: 0;
            padding: 0;
            li{
                margin-right: 34px;
                &:first-child{
                    margin-right: auto;
                }
            }
            a{
                text-decoration: none;
                color: #4f4f4f;
            }
        }
    }

    //logo row
    .logo-row{
        color: $dark;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 1px solid #E0E0E0;
        .news-item{
            display: flex;
            .img-wrap{
                margin-left: 35px;
            }
            .title{
                font-size: 18px;
                font-weight: 700;
            }
            .meta{
                font-weight: 300;
                font-size: 12px;
                margin-bottom: 5px;
                display: block;
            }
        .stars{
            display: flex;
            .star{
                background: url('/img/icons/star.svg') no-repeat;
                background-size: 17px 17px;
                background-position: center;
                width: 21px;
                height: 17px;
                padding: 0 2px;
            }
            .star-active{
                background: url('/img/icons/star-active.svg') no-repeat;
                background-size: 17px 17px;
                background-position: center;
            }
        }
        }
        a{
            text-decoration: none;
            color: $dark;
        }
    }


    //celebrities slider
    .celebrities-container{
        margin: 16px auto;
        max-width: 1440px;
    }
    .celebrities-slider{
        display: flex;
        a{
            outline: none;
            text-decoration: none;
        }
        .celebrity{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: $dark;
            font-family: 'Assistant';
            font-size: 14px;
            letter-spacing: 0.03em;
        }
        .img-wrap{
            width: 66px;
            height: 66px;
            border-radius: 50%;
            padding: 2px;
            //background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            //background: radial-gradient(circle at 0% 100%, #F6AB62 1%, #B63E8E 41%, #3F5EFB 90%);
            background: linear-gradient(to left, #F6AB62 1%, #B63E8E 41%, #3F5EFB 90%);
        }
        .image{
            width: 62px;
            height: 62px;
            border: 1px solid #C4C4C4;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
        }
        .slick-arrow{
            background-repeat: no-repeat;
            background-size: 8px 15px;
            background-position: center;
            &:before{
                display: none;
            }
            &.slick-prev{
                background-image: url('/img/icons/arrow-corner-right.svg');
            }
            &.slick-next{
                background-image: url('/img/icons/arrow-corner-left.svg');
            }
        }
    }

    //run stroke
    .run-stroke-wrap{
        overflow: hidden;
        height: 32px;
        width: 100%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        margin-bottom: 20px;
    }
    .run-stroke{
        display: inline-flex;
        height: 100%;
        align-items: center;
        padding: 0;
        margin: 0;
        font-size: 14px;
        font-weight: 700;
        white-space: nowrap;
        list-style-type: none;
        li{
            padding-right: 30px;
            &:before{
                content: '';
                display: inline-block;
                width: 18px;
                height: 18px;
                background: $dark;
                margin-left: 30px;
                vertical-align: middle;
                background: url('/img/icons/star-active.svg') no-repeat center;
                background-size: cover;
            }
        }
    }
}

//profile header
#header_main.profile-header{
    .top-row{
        max-width: 100%;
        padding-right: 70px;
        padding-left: 70px;
        background: #000;
        justify-content: space-between;
        .menu-list,
        .auth-btns{
            width: auto;
        }
        .menu-list{
            a{
                color: #fff;
            }
        }
        .auth-btns{
            display: none;
        }
    }
}

//run stroke animation
@keyframes animStroke {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@media (max-width: 1530px){
    #header_main{
        .celebrities-container{
            max-width: 1350px;
        }
    }
}

@media (max-width: 1440px){
    #header_main{
        .celebrities-container{
            max-width: 1440px;
            width: 100%;
            padding-right: 50px;
            padding-left: 50px;
        }
    }
}
@media (max-width: 991px){
    #header_main{
        //fixed header
        .top-row{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 2;
            background: #fff;
        }
        .celebrities-container{
            margin-top: calc(16px + 43px);
        }
        //fixed header-end

        .top-row-inner-mob{

            height: 45px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 20px;
            margin-left: 15px;
            .socials-wrap{
                width: calc(50% - 35px);
                display: flex;
                a{
                    width: 20px;
                    height: 20px;
                    flex-shrink: 0;
                    &:first-child{
                        margin-right: auto;
                    }
                }
            }
            .menu-wrap{
                width: calc(50% - 35px);
            }
            .logo-wrap{
                width: 70px;
                img{
                    width: 100%;
                    height: auto;
                }
            }

        }
        .top-row-inner{
            display: none;
        }


        .celebrities-slider{
            .celebrity{
                font-size: 12px;
            }
            .image{
                width: 53px;
                height: 53px;
            }
            .img-wrap{
                height: auto;
                width: auto;
            }
        }

        //native scroll in celebrities section
        // .celebrities-container{
        //     padding: 0;
        //     overflow: hidden;
        // }
        // .celebrities-slider{
        //     display: flex;
        //     width: 100%;
        //     overflow-x: scroll;
        //     .celebrity{
        //         margin-right: 10px;
        //         margin-left: 10px;
        //     }
        //     &::-webkit-scrollbar{
        //         height: 0px;
        //     }
        //     &::-webkit-scrollbar-track {
        //         background-color: transparent;
        //     }
        //     &::-webkit-scrollbar-thumb{
        //         background-color: transparent;
        //     }
        // }
        //slider scroll
        .celebrities-container{
            padding-right: 0;
            padding-left: 0;
        }
        .celebrities-slider{
            .celebrity{
                padding-right: 15px;
                padding-left: 15px;
            }
        }
    }
}

@media (max-width: 700px){
    #footer_main{
        .contact-line{
            .inner{
                flex-direction: column;
                text-align: center;
                font-size: 18px;
            }
            .socials-wrap{
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                justify-content: center;
                margin-bottom: 10px;
            }
        }
    }
}
