*, *:before, *:after{
    box-sizing: border-box;
}

@import 'menu.scss';

.header-main {
    a{
        text-decoration: none;
    }
    .top-row{
        background: transparent;
        border-bottom: 1px solid #E0E0E0;
    }
    .top-row-inner-mob{
        display: none;
    }
    .top-row-inner{
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        margin:0 auto;
        padding: 0 24px;
        max-width: 1440px;
        .logo-wrap{
            margin-left: 70px;
            width: 127px;
            height: auto;
            img{
                width: 100%;
                height: auto;
            }
        }
        .menu-col-wrap,
        .auth-btns{
            width: calc(50% - 90px);
        }
        .menu-col-wrap{
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            height: 100%;
            align-items: center;
        }
        .socials-wrap{
            width: 180px;
            a{
                width: 35px;
                height: 35px;
            }
        }
        .btn-common{
            &:first-child{
                margin-right: auto;
            }
        }
        .auth-btns{
          a{
            text-decoration: none;
            color: $dark;
          }
          ul{
            list-style-type: none;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
          }
          .my-account-wrap{
            position: relative;
            z-index: 2;
            min-width: 230px;
            height: 43px;
            margin-right: auto;
          }
          .my-account{
            display: -webkit-inline-flex;
            display: -ms-inline-flex;
            display: inline-flex;
            flex-direction: column;
            align-items: flex-end;
            min-width: 230px;
            overflow: hidden;
            background: #fff;
            transition: all .3s ease-in-out;
            &:hover{
              box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
              position: absolute;
              top: 0;
              left: 0;
              .profile-nav{
                max-height: 300px;
              }
            }
          }
          .profile-nav{
            transition: all .3s ease-in-out;
            max-height: 0;
            text-align: left;
            a{
              padding-top: 5px;
              padding-bottom: 5px;
              display: block;
            }
          }
          .logout-btn{
            padding-left: 35px;
            background: url('/img/icons/header/logout.svg') no-repeat left center;
            background-size: 23px;
            margin-right: 50px;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            align-items: center;
          }
          .my-account-link{
            background: url('/img/icons/header/profile.svg') no-repeat 8px center;
            background-size: 30px;
            padding: 8px 0 8px 45px;
            height: 43px;
          }
          .profile-settings,
          .favourite-posts{
            padding-left: 45px;
          }
          .profile-settings{
            background: url('/img/icons/header/profile-settings.svg') no-repeat 15px center;
            background-size: 16px;
          }
          .favourite-posts{
            background: url('/img/icons/header/favourite-posts.svg') no-repeat 15px center;
            background-size: 16px;
          }
        }
    }
    .top-row-inner,
    .top-row-inner-mob{

        .auth-btns{
            display: flex;
        }
        .btn-common{
            height: 35px;
            padding: 0 28px;
            &:first-child{
                margin-left: 10px;
            }
        }
        .socials-wrap{

            display: flex;
            text-align: center;

            a{
                margin-right: 5px;
                margin-left: 5px;
                text-decoration: none;
                &.youtube{
                    background: url('/img/icons/social-youtube-colored.svg') no-repeat center;
                    background-size: contain;
                }
                &.facebook{
                    background: url('/img/icons/social-facebook-colored.svg') no-repeat center;
                    background-size: contain;
                }
                &.instagram{
                    background: url('/img/icons/social-instagram-colored.svg') no-repeat center;
                    background-size: contain;
                }
                &.telegram{
                    background: url('/img/icons/social-telegram-colored.svg') no-repeat center;
                    background-size: contain;
                }
            }

        }
        .menu-list{
            list-style-type: none;
            display: flex;
            font-weight: 500;
            align-items: center;
            margin: 0;
            padding: 0;
            height: 100%;
            li{
                height: 100%;
                &:first-child{
                    margin-right: auto;
                }
            }
            a{
                display: flex;
                align-items: center;
                padding-right: 17px;
                padding-left: 17px;
                height: 100%;
                font-size: 20px;
                font-weight: 700;
                color: $gold;
                text-decoration: none;
                color: #4f4f4f;
                white-space: nowrap;
                position: relative;
                transition: all .2s ease-in;
                &:before{
                  content: '';
                  display: block;
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  height: 4px;
                  background: $gold;
                  width: 0%;
                  transition: all .15s ease-out;
                }
                &:hover,
                &.router-link-exact-active{
                  color: $gold;
                  &:before{
                    width: 100%;
                  }
                }
            }
        }
    }

    //logo row
    .logo-row{
        color: $dark;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 1px solid #E0E0E0;
        .news-item{
            display: flex;
            .img-wrap{
                margin-left: 35px;
            }
            .title{
                font-size: 18px;
                font-weight: 700;
            }
            .meta{
                font-weight: 300;
                font-size: 12px;
                margin-bottom: 5px;
                display: block;
            }
        .stars{
            display: flex;
            .star{
                background: url('/img/icons/star.svg') no-repeat;
                background-size: 17px 17px;
                background-position: center;
                width: 21px;
                height: 17px;
                padding: 0 2px;
            }
            .star-active{
                background: url('/img/icons/star-active.svg') no-repeat;
                background-size: 17px 17px;
                background-position: center;
            }
        }
        }
        a{
            text-decoration: none;
            color: $dark;
        }
    }


    //celebrities slider
    .celebrities-container{
        margin: 0 auto;
        padding: 16px 0;
        max-width: 1440px;
    }
    .celebrities-slider-wrap{
      position: relative;
      .swiper-button-prev, .swiper-button-next{
        width: 20px;
        height: 20px;
        background-size: 8px 15px;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: -10px;
      }
      .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
        background-image: url(/img/icons/arrow-corner-left.svg);
        left: -25px;
        right: auto;
      }
      .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
        background-image: url(/img/icons/arrow-corner-right.svg);
        right: -25px;
        left: auto;
      }
    }
    .celebrities-slider{
        // display: flex;
        // justify-content: space-between;
        a{
            outline: none;
            text-decoration: none;
        }
        .celebrity{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: $dark;
            font-family: 'Assistant';
            font-size: 14px;
            letter-spacing: 0.03em;
        }
        .img-wrap{
            width: 66px;
            height: 66px;
            border-radius: 50%;
            padding: 2px;
            //background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            //background: radial-gradient(circle at 0% 100%, #F6AB62 1%, #B63E8E 41%, #3F5EFB 90%);
            background: linear-gradient(to left, #F6AB62 1%, #B63E8E 41%, #3F5EFB 90%);
        }
        .image{
            width: 62px;
            height: 62px;
            border: 1px solid #C4C4C4;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
        }
        .slick-arrow{
            background-repeat: no-repeat;
            background-size: 8px 15px;
            background-position: center;
            &:before{
                display: none;
            }
            &.slick-prev{
                background-image: url('/img/icons/arrow-corner-right.svg');
            }
            &.slick-next{
                background-image: url('/img/icons/arrow-corner-left.svg');
            }
        }
    }

    //run stroke
    .run-stroke-wrap{
        overflow: hidden;
        height: 32px;
        width: 100%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        margin-bottom: 20px;
    }
    .run-stroke{
        display: inline-flex;
        height: 100%;
        align-items: center;
        padding: 0;
        margin: 0;
        font-size: 14px;
        font-weight: 700;
        white-space: nowrap;
        list-style-type: none;
        li{
            padding-right: 30px;
            &:before{
                content: '';
                display: inline-block;
                width: 18px;
                height: 18px;
                background: $dark;
                margin-left: 30px;
                vertical-align: middle;
                background: url('/img/icons/star-active.svg') no-repeat center;
                background-size: cover;
            }
        }
    }
}

//run stroke animation
@keyframes animStroke {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@media (max-width: 1530px){
    .header-main{
        .celebrities-container{
            max-width: 1350px;
        }
    }
}

@media (max-width: 1440px){
    .header-main{
        .celebrities-container{
            max-width: 1440px;
            width: 100%;
            padding-right: 50px;
            padding-left: 50px;
        }
    }
}
@media (max-width: 991px){
    .header-main{
        //fixed header
        .top-row{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 200;
            background: #fff;
        }
        .celebrities-container{
            margin-top: calc(16px + 43px);
        }
        //fixed header-end

        .top-row-inner-mob{

            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 20px;
            margin-left: 15px;
            .socials-wrap{
                //width: calc(50% - 35px);
                display: flex;
                justify-content: center;
                a{
                    width: 25px;
                    height: 25px;
                    flex-shrink: 0;
                    &:first-child{
                        //margin-right: auto;//style for socials in header, not in menu
                    }
                }
            }
            .menu-wrap{
                //width: calc(50% - 35px);
            }
            .logo-wrap{
                width: 90px;
                padding: 4px 0 4px;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .header-text{
              text-align: center;
              margin-right: 40px;
              // margin-left: 10px;
              font-weight: 700;
              font-size: 14px;
              line-height: 14px;
              white-space: nowrap;
              flex-grow:2;
            }
            .auth-btns{
              justify-content: center;
            }

        }
        .top-row-inner{
            display: none;
        }


        .celebrities-slider{
            .celebrity{
                font-size: 12px;
                line-height: 12px;
            }
            .image{
                width: 53px;
                height: 53px;
            }
            .img-wrap{
                height: auto;
                width: auto;
            }
        }

        //native scroll in celebrities section
        // .celebrities-container{
        //     padding: 0;
        //     overflow: hidden;
        //     margin-bottom: 8px;
        // }
        // .celebrities-slider{
        //     display: flex;
        //     width: 100%;
        //     overflow-x: scroll;
        //     scrollbar-width: none;
        //     -ms-overflow-style: none;
        //     .celebrity{
        //         margin-right: 10px;
        //         margin-left: 10px;
        //     }
        //     &::-webkit-scrollbar{
        //         height: 0px;
        //     }
        //     &::-webkit-scrollbar-track {
        //         background-color: transparent;
        //     }
        //     &::-webkit-scrollbar-thumb{
        //         background-color: transparent;
        //     }
        // }
        .celebrities-container{
            padding: 0;
            margin-bottom: 8px;
        }
        .celebrities-slider{
          .slide-wrap{
            flex-grow: 1;
            width: auto;
            padding: 0 5px;
          }
        }

        .celebrities-slider-wrap{
          .swiper-button-prev, .swiper-button-next{
            display: none;
          }
        }
        //slider scroll
        // .celebrities-container{
        //     padding-right: 0;
        //     padding-left: 0;
        // }
        // .celebrities-slider{
        //     .celebrity{
        //         padding-right: 15px;
        //         padding-left: 15px;
        //     }
        // }
    }
}
