body{
    font-size: 18px;
}

input.theme-input-text,
.theme-input-text input{
    width: 215px;
    height: 41px;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
    padding: 0 12px;
}

input, button:focus, a{
    outline: none;
}

// buttons
.theme-btn{
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;
    align-items: center;
    height: 40px;
    padding: 0 30px;
    border: none;
    border-radius: 3px;
    font-family: 'Rubik';

}

.theme-ico-btn{
    svg{
        width: 15px;
        height: 15px;
        margin-left: 7px;
    }
}
