.btn-common{
    display: inline-flex;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    align-items: center;
    font-weight: 600;
}
.btn-border-white{
    border: 2px solid #fff;
    color: #fff;
    &:hover{
        color: #fff;
    }
}
.btn-border-dark{
    border: 2px solid #828282;
    color: #828282;
    &:hover{
        color: #828282;
    }
}
.btn-red{
    background: $red;
    color: #fff;
    &:hover{
        color: #fff;
    }
}

.btn-gold-gradient{
  color: #fff;
  // background: linear-gradient(285.95deg, #D3A01D 1.57%, #F2C94C 98.82%);
  background: linear-gradient(276.24deg, #87682C 3.48%, #FCD77E 99.52%);
  border: none;
  &:hover{
    color: #fff;
  }
}

.btn-gold-text{
  background: rgba(196, 196, 196, 0.1);
  span{
    color: transparent;
    background: linear-gradient(285.95deg, #D3A01D 1.57%, #F2C94C 98.82%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}
