body{
    background-color: $body-bg;
    text-align: right;
    color: $dark;
}

.np-container{
    width: 1530px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.image-bg{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

@import 'buttons';
@import 'tab-switchers';
@import 'stars-rating';
