.tab-switchers-bg-type{
    display: flex;
    margin-bottom: 20px;
    .swithcer-item{
        display: inline-flex;
        align-items: center;
        margin-left: 25px;
        color: $gray;
        height: 34px;
        padding-right: 30px;
        padding-left: 30px;
        font-family: 'Rubik';
        font-size: 24px;
        svg{
            margin-right: 5px;
        }
        &.ico-hot{
            svg{
                fill: $red;
            }
            &.active,
            &:hover{
                background-color: $red;
            }
        }
        &.ico-liked{
            svg{
                fill: $yellow;
            }
            &.active,
            &:hover{
                background-color: $yellow;
            }
        }
        &.ico-recent{
            svg{
                fill: $blue;
            }
            &.active,
            &:hover{
                background-color: $blue;
            }
        }
        &.active,
        &:hover{
            color: #fff;
            svg{
                fill: #fff;
            }
        }
    }
}
