.th-input {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  padding: 10px 25px;
  width: 100%;
}

.th-btn {
  @extend .a-row-center ;
  width: 360px;
  height: 80px;
  font-weight: bold;
  font-size: 28px;
}

.th-btn-gold {
  background: linear-gradient(294.72deg, #D3A01D 1.57%, #F2C94C 98.82%);
  border-radius: 5px;
  color: #fff;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border: 0;
  &:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
  }
}

.th-checkbox {
  appearance: none;
  transition: background 0.3s ease;
  background: transparent;
  border: 2px solid #80B516;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  position: relative;

  &::before {
    content: '';
    width: 10px;
    height: 20px;
    border-bottom: 3px #fff solid;
    border-right: 3px #fff solid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(0) translate(-20%, 0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  &:checked {
    background: #80B516;
    &::before {
      opacity: 1;
      transform: rotate(45deg) translate(-120%, -30%);
    }
  }
}

#preloader {
  display: flex;
  pointer-events: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 1000;
  &.fade {
    opacity: 0.5;
  }
  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .ball {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    margin: 0 10px;
    animation: 2s bounce ease infinite;
    background-color: #F2C94C;
  }
  .red {
    animation-delay: .25s;
  }
  .yellow {
    animation-delay: .5s;
  }
  .green {
    animation-delay: .75s;
  }

  @keyframes bounce {
      50% {
          transform: translateY(25px);
      }
  }
}


#ads {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease, transform 0.3s ease;

  &.closed {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
  }

  &-wrapper {
    width: 449px;
    max-width: 100%;
    max-height: 449px;
  }

  &-rest {
    background: #fff;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    cursor: default;
    user-select: none;
  }
}
