.th-input {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  padding: 10px 25px;
  width: 100%;
}

.th-checkbox {
  appearance: none;
  background: #80B516;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  position: relative;

  &::before {
    content: '';
    width: 10px;
    height: 20px;
    border-bottom: 3px #fff solid;
    border-right: 3px #fff solid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(0) translate(-20%, 0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  &:checked {
    &::before {
      opacity: 1;
      transform: rotate(45deg) translate(-120%, -30%);
    }
  }
}
